@media (min-width: 414px) {
    header > button{
        width: 20%;
    }
    h1{
        font-size: 3em;
    }
    #bloco1 > p{
        margin: auto 38px;
    }
    .btn-started{
        width: 35%;
    }
    section{
        display: flex;
    }
    #bloco1 > img{
        width: 70%;
    }
    .caixa > div > p{
        
    margin: auto 43px;
    }
}